<h1>Welcome to Rock Paper Scissors!!!</h1>
<p>To play this thrilling game, enter each players choice - Rock, Paper or Scissors - after the URL, like this: <italic>...play_rock-paper-scissors/rock/scissors</italic></p>
<h2>RULES</h2>
<ul>
  <li>Rock beats Scissors</li>
  <li>Scissors beats Paper</li>
  <li>Paper beats Rock</li>
</ul>
<h1>LET BATTLE COMMENCE!</h1>
